name: Package Release

on:
  push:
    branches:
      - main

jobs:
  package_release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Package Release
        run: npx vsce package

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v2
        with:
          name: vsix-package-${version}
          path: ./*.vsix
      - name: Upload to Release
        id: upload-release
        uses: actions/upload-release-asset@v1
        
        with:
          upload_url: $
          asset_path: ./*.vsix
          asset_name: vsix-package-${version}.vsix
          token: id_ed25529
          asset_content_type: application/zip